html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  max-width: $page-width;
  line-height: 1.4;
}
ul, ol, p {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4 {
  word-break: break-word;
  color: #363636;
  font-weight: 300;
}
h1 {
  font-size: 40px;
  line-height: 46px;
  margin: 20px 0;
}
h2 {
  font-size: 30px;
  line-height: 34px;
  margin: 15px 0;
}
h3 {
  font-size: 22px;
  line-height: 26px;
  margin: 10px 0;
}
h4 {
  font-size: 16px;
  line-height: 18px;
  margin: 8px 0;
}

