$font-size: 1rem;
$font-family: 'Inter', sans-serif;
$background-color: white;
$font-color: #dae0e0;
$page-width: auto;
$grey: #605E5A;
$danger-button: red;
$red: #dd2234;
$green: #28a745;
$milky: #dbdbdb;
$white: #ffffff;
$yellow: #feb300;
$blue: #0366ee;
$margenta: #4713AFFF;
