@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}
@import 'variables';
@import 'scaffolding';

.root-container {
  .small-button {
    border: none;
    font-size: 12px;
    padding: 4px 5px;
    margin: 10px 3px;
  }
  button {
    &.button-hide {
      background: $grey;
    }
    &.on {
      opacity: 0.3;
    }
    &.grammar,
    &.cards {
      background: $green;
    }
  }
}
